        <!-- jQuery Version 1.11.1 -->
        <script src="/js/libs/jquery-3.2.1.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/js/libs/bootstrap.min.js"></script>

        <!-- Custom JS -->
        <script src="/socket.io/socket.io.js"></script>
        <% if(title !== "Login" && title !== "Register" && title !== "username" && title !== "join"){ %>
            <script>var userID = "<%= currentUser._id %>";</script>
            <script>var channelID = "<%= channel._id %>";</script>
        <% } %>
        <script src="/js/libs/dropzone.js"></script>
        <script src="/js/profile.js"></script>
        <% if(typeof channel !== "undefined"){ %>
            <script src="/js/chat.js"></script>
        <% } %>
        <script src="/js/libs/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script src="/js/libs/jquery.mCustomScrollbar.min.js"></script>
        <script src="/js/app.js?rev=@@hash"></script>

    </body>

</html>