<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Simple Discord Clone">
    <meta name="author" content="Thal Marcelin">

    <title>MiniCord | <% if(title === "username"){ %>
        <%= currentUser.username %>
    <% }else if (title === "join"){ %>
        Join <%= channel.channel_name %>
    <% }else{ %>
        <%= title %>
    <% } %></title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/fontawesome-all.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/jquery.mCustomScrollbar.css" rel="stylesheet">
    <link href="/stylesheets/main.css?rev=@@hash" rel="stylesheet">
    <link href="/stylesheets/main-responsive.css?rev=@@hash" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="bg">
        <div id="particles-js"></div>
    </div>

    <!-- Navigation -->
    <nav class="navbar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">MiniCord</a>
            </div>
            <div class="navbar-menu">
                <% if(title === "Login"){ %>
                    <a href="/users/register" class="btn btn-primary">Register</a>
                <% }else if(title === "Register"){ %>
                    <a href="/users/login" class="btn btn-primary">Login</a>
                <% }else if (title === "join"){ %>

                <% }else { %>
                    <a href="/users/logout" class="btn btn-primary">Logout</a>
                <% } %>
            </div>
        </div>
    </nav>

    <% if(title !== "Login" && title !== "Register" && title !== "join"){ %>
        <div id="create-group" class="modal-block-wrap">
            <div class="modal-block">
                <div class="modal-brand">
                    <div class="modal-brand-caption">
                        <div class="logo">Mini<span>Cord</span></div>
                    </div>
                </div>
                <div class="modal-block-content">
                    <span class="modal-close"><i class="fas fa-times"></i></span>
                    <h3>Create a new Channel</h3>
                    <form class="form-horizontal" enctype="multipart/form-data" method="POST" action="/channel/new">
                        <div class="form-group">
                            <p class="label mb-10">Choose a Channel photo (max size: 64x64)</p>
                            <label for="group_photo" class="group-photo-placeholder avatar-placeholder" data-toggle="tooltip" data-title="Upload a channel photo" data-placement="bottom"><img id="group_photo_img" src="/img/placeholder.png" /></label>
                            <input id="group_photo" accept="image/*" name="channel_picture" class="group-photo" type="file" />
                        </div>
                        <div class="form-group"> 
                            <label for="group_name">Group Name</label>
                            <input type="text" name="channel_name" id="group_name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <p class="help-block2 mb-25">By creating a channel, you agree to MiniCord <a data-toggle="modal-custom" data-target="#login" class="clr-primary link-underline">Community Guidelines</a>.</p>
                            <button type="submit" class="btn btn-block btn-radius btn-primary">Create Channel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <% }else { %>

    <% } %>