<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Minicord | Update</title>
    </head>
    <body>
        <h1>Edit Profile</h1>
        <form action="/users/@me/update?_method=PATCH" method="POST">
            <label for="user[username]">Name :</label>
            <input type="text" name="user[username]" value="<%= name %>">
            <br>
            <label for="user[email]">Email: </label>
            <input type="text" name="user[email]" disabled value="<%= email %>">
            <br>
            <button>Edit</button>
        </form>
    </body>
</html>