<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Minicord | Home</title>
    </head>
    <body>
        <h1>Welcome to Minicord</h1>
        <button><a href="/login">Sign In</a></button>
        <button><a href="/register">Sign Up</a></button>
    </body>
</html>