<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Minicord | Home</title>
    </head>
    <body>
        <h1>Welcome to Minicord</h1>
        <% if(!currentUser){ %>
            <button><a href="/users/login">Sign In</a></button>
            <button><a href="/users/register">Sign Up</a></button>
        <% }else{ %>
            <p>Hi, <%= currentUser.username %></p>
            <button><a href="/users/logout">Logout</a></button>
            <button><a href="/users/@me">Profile</a></button>
        <% } %>
        
    </body>
</html>