<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Simple Discord Clone">
    <meta name="author" content="Thal Marcelin">

    <title>MiniCord | Login</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/fontawesome-all.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/jquery.mCustomScrollbar.css" rel="stylesheet">
    <link href="/stylesheets/main.css?rev=@@hash" rel="stylesheet">
    <link href="/stylesheets/main-responsive.css?rev=@@hash" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="bg">
        <div id="particles-js"></div>
    </div>

    <!-- Navigation -->
    <nav class="navbar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">MiniCord</a>
            </div>
            <div class="navbar-menu">
                <a href="/users/login" class="btn btn-primary">Login</a>
                <a href="/users/register" class="btn btn-primary">Register</a>
            </div>
        </div>
    </nav>

    <div id="create-group" class="modal-block-wrap">
        <div class="modal-block">
            <div class="modal-brand">
                <div class="modal-brand-caption">
                    <div class="logo">Chat<span>App</span></div>
                </div>
            </div>
            <div class="modal-block-content">
                <span class="modal-close"><i class="fas fa-times"></i></span>
                <h3>Create a new group</h3>
                <form class="form-horizontal">
                    <div class="form-group">
                        <p class="label mb-10">Choose a profile photo (max size: 64x64)</p>
                        <label for="group_photo" class="group-photo-placeholder avatar-placeholder" data-toggle="tooltip" data-title="Upload a group photo" data-placement="bottom"><img src="img/placeholder.png" /></label>
                        <input id="group_photo" class="group-photo" type="file" />
                    </div>
                    <div class="form-group">
                        <label for="group_name">Group Name</label>
                        <input type="text" name="group_name" id="group_name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <p class="help-block2 mb-25">By creating a group, you agree to ChatApp <a href="#" data-toggle="modal-custom" data-target="#login" class="clr-primary link-underline">Community Guidelines</a>.</p>
                        <button type="submit" class="btn btn-block btn-radius btn-primary">Create Group</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div id="sidebar">
        <ul class="sidebar-menu">
            <li><a class="current-server" data-toggle="tooltip" data-placement="right" data-title="Current Group">O</a></li>
            <li><a class="join-server" data-start="modal-custom" data-target="#create-group" data-toggle="tooltip" data-placement="right" data-title="Join a Group"><i class="fa fa-plus"></i></a></li>
        </ul>
    </div>
    <div class="page-single">
        <div class="modal-block modal-visible">
            <div class="modal-brand">
                <div class="modal-brand-caption">
                    <div class="logo">Mini<span>Cord</span></div>
                </div>
            </div>
            <div class="modal-block-content">
                <h3>Welcome back!</h3>
                <form class="form-horizontal" action="/users/login" method="POST">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <p class="help-block"><a href="#" class="link-underline">Forgot your password?</a></p>
                        <p class="help-block2 mb-25">Need an account? Register <a href="/users/register" class="clr-primary link-underline">here</a>.</p>
                        <button type="submit" class="btn btn-block btn-radius btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- jQuery Version 1.11.1 -->
    <script src="js/libs/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/libs/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="/js/libs/jquery.mCustomScrollbar.min.js"></script>
    <script src="/js/libs/app.js?rev=@@hash"></script>

</body>

</html>
