<% include partials/header %>


    <!-- Page Content -->
    <div id="sidebar">
        <ul class="sidebar-menu">
            <li><a class="current-server" data-toggle="tooltip" data-placement="right" data-title="Current Group">O</a></li>
        </ul>
    </div>
    <div class="page-single">
        <div class="modal-block modal-visible">
            <div class="modal-brand">
                <div class="modal-brand-caption">
                    <div class="logo">Mini<span>Cord</span></div>
                </div>
            </div>
            <div class="modal-block-content">
                <h3>Welcome back!</h3>
                <form class="form-horizontal" action="/users/login" method="POST">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <p class="help-block"><a href="#" class="link-underline">Forgot your password?</a></p>
                        <p class="help-block2 mb-25">Need an account? Register <a href="/users/register" class="clr-primary link-underline">here</a>.</p>
                        <button type="submit" class="btn btn-block btn-radius btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<% include partials/footer %>