<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Minicord | Profile</title>
    </head>
    <body>
        <h1>User Profile</h1>
        <% if(!name){ %>
            <p><b>Name: </b> <i>No Username</i></p>
        <% }else{ %>
            <p><b>Name: </b> <%= name %></p>
        <% } %>
        <p><b>Email: </b> <%= email %> </p>

        <button><a href="/users/@me/update">Setting</a></button>
    </body>
</html>