<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Minicord | Profile</title>
    </head>
    <body>
        <a href="/">Home</a>
        <h1>User Profile</h1>
        <% if(!currentUser.username){ %>
            <p><b>Name: </b> <i>No Username</i></p>
        <% }else{ %>
            <p><b>Name: </b> <%= currentUser.username %></p>
        <% } %>
        <p><b>Email: </b> <%= currentUser.email %> </p>

        <button><a href="/users/@me/update">Setting</a></button>

        <form action="/channel/new" method="POST">
            <button>Create new Channel</button>
        </form>
        

    </body>
</html>