<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Minicord | Register</title>
    </head>
    <body>
        <h1>Register</h1>
        <form action="/users/register" method="POST">
            <label for="email">Email</label>
            <input type="text" placeholder="email" name="email"/>

            <label for="password">Password</label>
            <input type="text" placeholder="password" name="password"/>

            <button type="submit">Register</button>
        </form>
    </body>
</html>